{
  "targets": {
    "release": {
      "outFile": "dsp.wasm",
      "optimizeLevel": 3,
      "shrinkLevel": 0,
      "converge": false,
      "noAssert": true,
      "exportRuntime": false,
      "importMemory": false,
      "initialMemory": 2,
      "exportStart": "dsp_init"
    }
  }
}
